/* ------------
     Fonts
------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* ------------
    Universal 
------------*/

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* ----------------
    Header Banner
    ------------ */
header {
  height: 770px;
}
.header-bg {
  background: #f1f1f1;
  position: absolute;
  width: 83%;
  height: 646px;
  left: 140px;
  top: 50px;
  border-radius: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.header-info {
  width: 41%;
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 00px;
}
.header-info h1 {
  font-size: 3.5em;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.header-info p {
  font-size: 1.1em;
  color: rgb(0, 0, 0);
}
.header-info .button {
  margin-top: 30px;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  transition: width 0.5s, height 0.5s, font-size 0.5s;
}
.header-info .button:hover {
  font-size: 1.2em;
  width: 300px;
  height: 48px;
}
.button a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: red;
  font-size: 16px;
}
.button i {
  color: red;
}
.header-pic img {
  width: 581px;
  height: 613px;
  margin: 33px 33px 0px 32px;
}

/* ----------------
    Main Section
--------------- */

/* nav  */
main {
  margin: 40px 7% 70px 7%;
}

.nav-button {
  background-color: rgb(126, 123, 123);
  height: 312px;
  width: 312px;
  border-radius: 10px;
  margin-right: 24px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.nav-button .button {
  width: 252px;
  height: 64px;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 18px;
}
#blog {
  background-color: rgb(0, 0, 0);
  border: 2px solid #f1f1f1;
  color: f1f1f1;
}
/* grid  */
.blogs {
  width: 312px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.blog {
  border: 2px solid rgb(235, 233, 233);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}

.thumbnail {
  width: 312px;
  height: 175px;
  position: relative;
  justify-items: space-evenly;
  display: inline-block;
  flex-direction: row;
}

.blog-detail {
  padding: 20px;
}
.b-button {
  height: 34px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
.blog-info {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-button button {
  background-color: rgb(0, 0, 0);
  height: 34px;
  width: 90px;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  display: none;
}

.view-button button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

/* ----------------
    Footer Section
--------------- */
footer {
  height: 304px;
  background-color: #f1f1f1;
  padding: 40px 140px;
  text-align: center;
}
footer h1 {
  color: #000000;
  text-align: center;
  justify-content: center;
  justify-items: center;
}
.quick-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li {
  list-style: none;
  padding: 25px;
}
li a {
  text-decoration: none;
  color: #000;
}
.fa-brands {
  color: #000;
  font-size: 35px;
  padding: 0 15px;
}

.social-links a {
  text-decoration: none;
}

/* ----------
    Media
---------- */
/* mobile  */
@media (max-width: 576px) {
  header {
    height: 1104px;
  }
  .header-info {
    width: 70%;
  }
  .header-bg {
    position: absolute;
    width: 95%;
    height: 1124px;
    left: 10px;
    top: 10px;
  }
  .header-bg .container {
    text-align: center;
  }

  .header-bg .container {
    flex-direction: column;
  }
  .header-pic img {
    width: 90%;
    height: 90%;
    margin: 33px 33px 0px 32px;
  }

  main {
    margin: 80px 0;
  }

  main .container {
    align-items: center;
    justify-content: center;
  }

  /* nav  */
  .nav-button {
    width: 90%;
    margin-bottom: 24px;
    margin-right: 0px;
  }

  /* grid  */

  .blogs {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .blog {
    width: 100%;
    justify-self: center;
  }
  .thumbnail img {
    width: 165%;
  }
  .blog-detail {
    margin-top: 115px;
  }

  /* footer  */
  footer {
    width: 99%;
    height: auto;
    padding: 10px 0 50px 0;

    text-align: center;
    margin: 10px 0;
  }
  .quick-links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  li {
    padding: 10px;
  }
}

/* tab  */
@media (min-width: 577px) and (max-width: 992px) {
  header {
    height: 490px;
  }
  .header-bg {
    width: 95%;
    height: 500px;
    left: 2%;
    top: 2%;
    right: 2%;
  }
  .header-info {
    width: 42%;

    margin-top: 00px;
    margin-left: 65px;

    /* display: none; */
  }
  .header-info h1 {
    font-size: 3.2em;
  }
  .header-info p {
    font-size: 1em;
  }

  .header-pic img {
    width: 431px;
    height: 463px;
    margin: 35px 10px 0px 10px;
  }
  /* main  */
  main {
    margin: 80px 0;
  }

  main .container {
    justify-content: center;
  }

  /* nav  */
  .nav-button {
    background: #fff;
    width: 90%;
    height: 64px;
    margin-bottom: 34px;
    margin-right: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-button .button {
    margin-top: 0;
  }

  /* grid  */

  .blogs {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }
  .blog {
    width: 100%;
    justify-self: center;
  }

  .thumbnail img {
    width: 136%;
  }
  .blog-detail {
    margin-top: 60px;
  }

  .view-button button {
    display: block;
    position: relative;
    left: 45%;
  }

  /* footer  */
  footer {
    padding: 10px 50px;
  }
  .quick-links ul {
    display: flex;

    justify-content: center;
    padding: 0;
  }
  li {
    padding: 10px;
  }
}
